/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: row;
}

.main{
    display: flex;
} */

#root {
  background-color: #282c34;
}
