.leaflet-container {
  /* width: 50%; */
  height: 82vh;
  background-color: darkslategray;
  color: darkslategray;
}
.color-key {
  margin: 10px;
}

.color-key-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-key-item p {
  margin-left: 10px;
}
