.leaflet-container {
  /* width: 50%; */
  height: 88svh;
  width: 100%;
  background-color: darkslategray;
  color: darkslategray;
  margin: 10px;
  /* position: absolute;
  left: 0;
  top: 10vh;
  z-index: 10; */
}
.color-key {
  margin: 10px;
}

.color-key-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-key-item p {
  margin-left: 10px;
}
