/* .navbar {
  background-color: #404040;
  padding: 10px 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  float: left;
  padding: 0 10px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.navbar ul li a:hover {
  color: #cccccc;
} */
.navs {
  /* background-color: cyan; */
  /* box-shadow: 2px; */
  box-shadow: 10px 10px 5px lightblue;
}

.dropdowns {
  display: flex;
  justify-content: flex-end;
  margin-top: 1vh;
}
.dropdown {
  margin-right: 1vw;
}
